/* #BREADCRUMB
================================================== */
.breadcrumb {
  background:none;
  border:none;
  border-radius: 0;
  font-weight: 300;
  font-size:12px;
  text-transform:uppercase;
  padding-top:2px;
  padding-left:0;
  margin-bottom: 0;
}