
/* #COUNTERS 1 #NEW
=====================================================*/
.count-number{
  margin-top: 17px;
  font-size:45px;
  line-height:45px;
  color:#2a2b2f;
  font-weight:100;
}
.count-title {
  font-size:14px;
  font-family: $default-font-4;
}
.count-descr{
  margin-top: 10px;
  margin-bottom: 10px;
}
#counter-1 .row > div {
  border-left: 1px solid #dadada;
}
#counter-1 .row > div:first-child {
  border: none;
}
@media only screen and (max-width: 992px) {
  #counter-1 .row > div {
    border: none;
  }
}
.border-none{border: none !important;}
.border-rad-0{border-radius: 0 !important;}
.border-bot{border-bottom: 1px solid #2a2b2f;}
.border-bot-gray{border-bottom: 1px solid #eee;}
.font-white .border-bot {border-bottom: 1px solid #fff;}