
/* #FONT SIZES #NEW-2
=====================================================*/
.font-60 {font-size:60px; line-height:65px;}
.font-40 {font-size:40px !important; line-height:52px !important;}
.font-32 {font-size:32px !important; line-height:40px !important;}
.font-30 {font-size:30px; line-height:40px;}
.font-26 {font-size:26px !important; line-height:34px !important;}
.font-24 {font-size:24px !important; line-height:32px !important;}
.font-20 {font-size:20px !important; line-height:30px !important;}
.font-21 {font-size:21px !important; line-height:32px !important;}
.font-18 {font-size:18px !important; line-height:24px !important;}
.font-16 {font-size:16px !important; line-height:24px !important;}
.font-13 {font-size:13px !important;}
.font-12 {font-size:12px !important;}


@media only screen and (max-width: 992px){
  .font-md-25{ font-size:25px !important; line-height:33px !important;}
}
@media only screen and (max-width:767px) {
  .font-xs-30{font-size:30px !important; line-height:40px !important;}
  .font-xs-26 {font-size:26px !important; line-height:34px !important;}
  .font-xs-24 {font-size:24px !important; line-height:32px !important;}
  .font-xs-20{font-size:20px !important; line-height:30px !important;}
}