
/* #FOOTER
================================================== */

/*****	#CONTACT FOOTER	*****/
.contact-text-container {
  padding-left:50px;
  padding-top:12px;
  min-height:46px;
  opacity:.8;
}
.right-1024 {
  float:right;
}
.right {
  float:right;
}
.left {
  float:left;
}
.right-text {
  text-align:right;
}
.center-text {
  text-align:center;
}