


/* INDEX-PORTFOLOLIO 2 NEW 	****************************************/
@media (min-width: 1025px) {
  #header-left {
    position:relative;
    margin-bottom: 0;
  }
  #header-left .main-menu-container {
    position:relative;
  }
  #header-left ul li {
    float:none;
  }

  /***** MENU INDEX-PORTFOLOLIO 2 NEW *****/
  #header-left .main-menu-container .container-m-30 {
    padding: 0 0 0 20px;
  }
  #header-left .logo-row {
    width: auto;
  }
  #header-left .logo-2 {
    text-align:left;
    margin-top:40px;
    margin-bottom:20px;
  }
  .hl-search {
    margin:60px 30px 0 20px;
    width:auto;
  }
  .hl-search  input{
    border-bottom: 1px solid #eee;
  }
  .hl-search button {
    color:#d3d3d3;
  }
  .hl-search button:hover {
    color:#101010;
  }
  .hl-search-input::-webkit-input-placeholder {color: #6b6d6f; letter-spacing:2px; font-size:13px;}
  .hl-search-input::-moz-placeholder  {color:#6b6d6f; letter-spacing:2px; font-size:13px;}/* Firefox 19+*/
  .hl-search-input:-moz-placeholder {color:#6b6d6f; letter-spacing:2px; font-size:13px;}/* Firefox 18- */
  .hl-search-input:-ms-input-placeholder {color:#6b6d6f; letter-spacing:2px; font-size:13px;}
  #header-left #main-menu {
    margin: 0;
    text-align: left;
  }
  #header-left.header .navbar {
    margin: 0;
    min-height: inherit;
    position: static;
  }
  #header-left #main-menu .navbar-collapse.collapse.in {
    display: block !important;
  }
  #header-left #main-menu .navbar .nav {
    padding-top: 10px;
  }
  #header-left .navbar-nav {
    float: none;
  }
  #header-left .navbar-nav>li {
    float: none;
  }
  #header-left #main-menu .navbar .nav > li.current > a {
    margin: 0;
    color: #101010 !important;
  }
  #header-left #main-menu .navbar .nav > li > a {
    font-weight: normal;
    margin: 0 !important;
    padding: 14px 9px 14px 17px !important;
    text-decoration: none;
    width: 100%;
    text-align: left;
    color: #6b6d6f ;
    border: none !important;
  }
  #header-left #main-menu .navbar .nav > li:hover > a {
    color: #111;
  }
  #header-left #main-menu .navbar .nav li a {
    font-size: 13px;
  }
  #header-left #main-menu .navbar .nav .open-sub {
    /* position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%; */
  }
  #header-left #main-menu .sub, #header-left #main-menu .parent .sub, #header-left #main-menu .parent:hover .sub {
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
    background: #3e4045;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #header-left #main-menu .sub li {
    line-height: 22px;
  }
  #header-left #main-menu .sub a.current {
    color: #fff;
  }
  #header-left #main-menu .sub .sub {
    left: 0;
    margin-left: 25px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  #header-left #main-menu .sub, #header-left #main-menu .parent .sub, #header-left #main-menu .parent:hover .sub {
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
    background: #3e4045;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #header-left #main-menu .sub li {
    line-height: 22px;
  }
  #header-left #main-menu .sub .sub a {
    padding: 15px 9px 15px 37px !important;
  }
  #header-left #main-menu .sub a.current {
    color: #fff;
  }
  #header-left #main-menu .megamenu > .sub {
    width: 100%;
  }
  #header-left #main-menu .megamenu > .sub .box {
    padding: 0;
  }
  #header-left .nofloat.col-md-3 {
    float: none;
    width: auto;
  }
  #header-left #main-menu .megamenu .title {
    cursor: pointer;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 15px 9px 15px 27px !important;
    position: relative;
    text-transform: none;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #d3d3d3;
  }
  #header-left #main-menu .sub a {
    padding: 15px 9px 15px 27px !important;
  }
  #header-left #main-menu .megamenu > .sub .box.closed ul {
    display: none;
    background: #323538;
    padding-left: 10px;
  }
  #header-left .menu-contact-info {
    margin: 0;
  }
  #header-left .menu-contact-info .contact-list {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #header-left .menu-map-container {
    margin-left: -20px;
    margin-bottom: -5px;
  }
  #header-left #main-menu .navbar-collapse.collapse {
    display: none !important;
  }
  #header-left .right-1024 {
    float: none;
  }
  #header-left .main-menu-container {
    position:relative;
  }
  #header-left.header-1 #main-menu .nav.navbar-nav {
    margin-right: 0;
  }
  #header-left #main-menu .navbar .nav .open-sub:before {
    content: "\e232";
    font-size: 20px;
    font-family: "linea-icons" !important;
    color: #d3d3d3;
    /* padding-top: 15px; */
    right: 14px;
    position: absolute;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #header-left #main-menu .navbar .nav .parent .parent > a:after {
    display:none;
  }
  #header-left #main-menu .navbar .nav > .parent.active > a, #header-left #main-menu .navbar .nav > .parent.active:hover > a {
    background: transparent;
  }
  #header-left #main-menu .parent:hover > .sub {
    animation:none;
  }
  #header-left #main-menu .sub, #header-left #main-menu .parent .sub, #header-left #main-menu .parent:hover .sub {
    background: #3e4045;
  }
  #header-left #main-menu .parent .sub .sub, #header-left #main-menu .parent:hover .sub .sub {
    background: #323538;
  }
  #header-left #main-menu .navbar .nav .active .sub .active .open-sub:before {
    content: "\e200";
  }
  #header-left #main-menu .navbar .nav .active .sub .open-sub:before {
    content: "\e232";
  }
  #header-left #main-menu .navbar .nav .active .open-sub:before {
    content: "\e200";
  }

  /***** End menu *****/
  .side-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    padding-bottom: 60px;
    overflow-y: auto;
    background: #fff;
    text-align: center;
    z-index: 1045;
    box-sizing: border-box;
  }
  .side-content {
    margin-left: 280px;
  }

}


/* TRAVEL NEW ****************************************/
.tab-content-opacity {
  background:rgba(255, 255, 255, .7);
}
.tab-nav-opacity  {
  border-color:rgba(255, 255, 255, .9);
}
.bg-opacity  {
  padding:30px;
  background:rgba(255, 255, 255, .7);
}
.tab-nav-opacity  li.active>a{
  border-color:rgba(255, 255, 255, .9) !important;
  background-color:rgba(255, 255, 255, .9);
}
.tab-nav-opacity>li>a:hover {
  border-color: #eee #eee rgba(255, 255, 255, .9);
}
.tabs-3 .tab-nav-opacity>li>a {
  /* font-weight: 600; */
}
.tab-content-border {
  border:1px solid #ddd;
  border-top:none;
  padding:30px 15px;
}
.travel-form label{
  display:block;
}
.display-block {
  display:block;
}
.input-group-addon2 {
  background:none;
  border:none;
}
.travel-carousel .owl-wrapper-outer {
  padding-top:105px;
}

/* SIDE MENU NEW *******************************************/
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

#nav-stick {
  transition: all .4s ease;
  width: 100%;
}
.sliding-content {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  position: relative;
  background-color: #fff;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.sliding-content.lateral-menu-is-open {
  /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
header.lateral-menu-is-open {
  /* translate to show the lateral menu */
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
header.is-fixed {
  position: fixed;
}
#cd-logo {
  display: block;
  float: left;
  margin: 12px 0 0 20px;
}
#cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  #cd-logo {
    margin: 22px 0 0 30px;
  }
}
#cd-top-nav {
  position: absolute;
  top: 0;
  right: 120px;
  height: 100%;
  display: none;
}
#cd-top-nav ul {
  height: 100%;
  padding-top: 18px;
}
#cd-top-nav li {
  display: inline-block;
  margin-right: 1em;
}
#cd-top-nav a {
  display: inline-block;
  padding: .5em;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
}
#cd-top-nav a.current {
  background-color: #242e30;
}
.no-touch #cd-top-nav a:hover {
  color: rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 768px) {
  #cd-top-nav {
    display: block;
  }
}
#cd-menu-trigger {
  position: absolute;
  right: 45px;
  top: 0;
  height: 100%;
  width: 50px;
}

@media only screen and (max-width: 1024px){
  #cd-menu-trigger {
    right: 25px;
  }
}
#cd-menu-trigger .cd-menu-icon {
  /* this span is the central line in the menu menu */
  display: inline-block;
  position: absolute;
  top: 50%;
  left: auto;
  right: 0;
  bottom: auto;
  width: 24px;
  height: 2px;
  background-color: #2a2b2f;
}
#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: inherit;
  left: 0;
}
#cd-menu-trigger .cd-menu-icon::before {
  bottom: 7px;
}
#cd-menu-trigger .cd-menu-icon::after {
  top: 7px;
}
#cd-menu-trigger.is-clicked .cd-menu-icon {
  background-color: rgba(255, 255, 255, 0);
}
#cd-menu-trigger .cd-menu-icon, #cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon::after {
  transition: all .3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
  background-color: #2a2b2f;
  transition: all .3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#cd-lateral-nav {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  visibility: hidden;
  padding-top:10px;
  /* the secondary navigation is covered by the main element */
  z-index: 1;
  width: 260px;
  background-color: #2a2b2f;
  overflow-y: auto;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
  transition: transform .4s 0s, visibility 0s .4s;
  /* this creates the subtle slide in animation of the navigation */
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  -ms-transform: translateX(80px);
  -o-transform: translateX(80px);
  transform: translateX(80px);
}
#cd-lateral-nav .cd-navigation {
  margin: 10px 0 16px;
}
#cd-lateral-nav .sub-menu {
  padding: 0 10px 20px 15px;
  display: none;
}
#cd-lateral-nav a {
  display: block;
  line-height: 38px;
  letter-spacing:1px;
  padding: 0 16px 0 32px;
  color: #aab5b7;
}
#cd-lateral-nav a.current, #cd-lateral-nav li.current a{
  background-color: #484A51;
  color: #FFF;
}
.no-touch #cd-lateral-nav a:hover {
  color: #FFF;
}
@media only screen and (min-width: 768px) {
  #cd-lateral-nav .cd-navigation {
    margin: 20px 0;
  }
}
#cd-lateral-nav.lateral-menu-is-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
  transition: transform .4s 0s, visibility 0s 0s;
  /* smooth the scrolling on touch devices - webkit browsers */
  -webkit-overflow-scrolling: touch;
}
/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  /* this is the right arrow to show that the item has a submenu  */
}
#cd-lateral-nav .item-has-children > a::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1em;

  content: "\e232";
  font-family: linea-icons;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  speak: none;
  font-size: 16px;
  display: block;
  line-height: 1;
  position: absolute;
  right: 25px;
  top: 14px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#cd-lateral-nav .item-has-children > a.submenu-open::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}
#cd-lateral-nav .socials {
  padding: 0 32px;
}
#cd-lateral-nav .socials:after {
  content: "";
  display: table;
  clear: both;
}
#cd-lateral-nav .socials a {
  display:inline-block;
  padding: 9px;
}

/* #FULL SCREEN MENU NEW ***********************************************/
.affix-fix .fs-logo {opacity:0;}
.fs-header {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(2, 23, 37, 0.95);
  height: 50px;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fs-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
}
.fs-primary-nav-trigger .fs-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-100%) translateY(-50%);
  -moz-transform: translateX(-100%) translateY(-50%);
  -ms-transform: translateX(-100%) translateY(-50%);
  -o-transform: translateX(-100%) translateY(-50%);
  transform: translateX(-100%) translateY(-50%);
  width: 24px;
  height: 2px;
  background-color: #2a2b2f;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
.header-black .fs-primary-nav-trigger .fs-menu-icon {
  background-color: #fff;
}
.fs-primary-nav-trigger .fs-menu-icon::before, .fs-primary-nav-trigger .fs-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2a2b2f;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.header-black .fs-primary-nav-trigger .fs-menu-icon::before, .header-black .fs-primary-nav-trigger .fs-menu-icon:after {
  background-color: #fff;
}
.fs-primary-nav-trigger .fs-menu-icon::before {
  top: -7px;
}
.fs-primary-nav-trigger .fs-menu-icon::after {
  top: 7px;
}
.fs-primary-nav-trigger .fs-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.header-black .fs-primary-nav-trigger .fs-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.fs-primary-nav-trigger .fs-menu-icon.is-clicked::before, .fs-primary-nav-trigger .fs-menu-icon.is-clicked::after {
  background-color: #2a2b2f;
}
.header-black .fs-primary-nav-trigger .fs-menu-icon.is-clicked::before, .header-black .fs-primary-nav-trigger .fs-menu-icon.is-clicked::after {
  background-color: #fff;
}
.fs-primary-nav-trigger .fs-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.fs-primary-nav-trigger .fs-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .fs-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .fs-primary-nav-trigger .fs-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}
.fs-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(200, 200, 200, 0.96);
  z-index: 26;
  text-align: center;
  padding: 50px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.fs-primary-nav.fs-nav-black {
  /* background: rgba(41, 41, 41, 0.96); */
  background: rgba(16, 16, 16, 0.9);
}
.fs-primary-nav>ul{
  width:100%;
}
.fs-primary-nav li {
  font-size: 28px;
  font-weight: 300;
  letter-spacing:2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
}
.fs-primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  font-family: $default-font-4;
}
.fs-primary-nav .fs-label {
  color: #848484;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
.fs-primary-nav.fs-nav-black .fs-label {
  color: #848484;
}
.fs-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (max-width: 480px) {
  .fs-primary-nav>ul {
    margin-top:20px;
  }
  .fs-primary-nav li {
    font-size: 16px;
    letter-spacing:1px;
    font-weight:400;
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  .fs-primary-nav {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1170px) {
  .fs-primary-nav li {
    font-size: 32px;
    margin: .4em 0;
  }
  .fs-primary-nav .fs-label {
    font-size: 16px;
    font-size: 1rem;
  }
}
.fs-main-content {
  position: relative;
  z-index: 1;
}
.header-side-menu.affix-fix.affix .header-wrapper{
  background:transparent !important;
  box-shadow:none !important;
}
.affix-fix .logo-2 {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}

/* #TWITTER FEEDS NEW ***************************************************/
.tweet_list {
  margin:0;
  padding:0;
  list-style:none;
}
.tweet_list li {
  padding-bottom: 10px;
  padding-top: 0px;
}
.tweet_time {
  display:block;
  float:left;
  margin-bottom:7px;
}
.tweet_time a{
  font-size: 14px;
}
.tweet_text {
  display:inline-block;
  padding: 0 0 15px 0;
  font-size:14px;
}
#twitter-feeds .loading {
  padding:20px;
}
#twitter-feeds .fa-twitter{
  display: block;
  float: left;
  margin-right: 15px;
  color: #33ccff;
  font-size: 24px;
  transition: all 0.3s ease 0s;
}

/* #FLICKR FEEDS NEW ***************************************************/
ul#flickr-feeds {
  margin:0;
  padding:0;
}
ul#flickr-feeds li {
  display: inline-block;
  float: left;
}
ul#flickr-feeds li a {
  display: block;
}
ul#flickr-feeds li a, ul#flickr-sfeeds li a img {
  height: 75px;
  width: 75px;
}

/* #TOP BAR NEW ***************************************************/
.top-bar{
  background: #F5F5F5;
  font-size: 12px;
  letter-spacing: 1px;
}
.top-bar.top-bar-black{background: #303036;}
.top-bar-section{
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-bar-section li{
  float: left;
  border-left: #E2E6E7;
}
.top-bar-section li:last-child{
  border-right: #E2E6E7;
}
.top-bar-section li .fa{
  font-size: 14px;
  position: relative;
  top: 1px;
}
.top-bar-section li {
  display: block;
  line-height: 43px;
  padding: 0 13px;
}
.affix .top-bar-section li {
  display: block;
  line-height: 32px;
  padding: 0 13px;
}
.top-bar-section li a{
  display: block;
  text-align: center;
  color: #999;
}
.top-bar-section li a:hover{
  color: #2a2b2f;
}
.top-bar.top-bar-black{background: #4B4E53;}
.top-bar.top-bar-black a {color: rgba(255,255,255, .7);}
.top-bar.top-bar-black a:hover {color: rgba(255,255,255, 1);}

/* #CONSTRUCTION 2 NEW ***************************************************/
.slider-cap-left{
  width:480px;
}
@media only screen and (max-width : 1024px) {
  .height-not-fscr{height:350px;}
  .header-big-offset {padding-top: 0;}
}
@media only screen and (max-width : 767px) {
  .slider-cap-left{width:100%;}
  .height-not-fscr{height:250px;}
  .top-bar{
    min-height: 0;
    letter-spacing:0px;
  }
  .top-bar-section{
    float: none !important;
    padding: 5px 0;
    text-align: center;
  }
  .top-bar-section li,
  .top-bar-section li:last-child{
    float: none;
    border:none;
    display: inline-block;
  }
  .top-bar-section li a{
    display: inline-block;
    min-width: 0;
    height: auto;
    line-height: 1;
    padding: 0 5px;
  }
  .top-links li a:hover,
  .top-bar.dark .top-links li a:hover{
    background: none;
  }
  .header-mag .top-bar{
    font-size: 11px;
  }
  .header-mag  .top-bar-section{
    padding: 0;
  }
  .header-mag .top-bar-section li {
    line-height: 38px;
    padding: 0 7px;
  }
}
@media only screen and (max-width : 767px) {
  .top-bar-section li {padding: 0 10px;}
}

/* #BOXED NEW-2 ***************************************************/
#rs-offset{height:186px; position:absolute;}

@media (max-width: 1024px){
  #rs-offset{height:152px;}
}