
/* #MENU #NEW
=====================================================*/

/***** #MAIN-MENU MENU *****/
#main-menu {
  z-index: 1;
  &.no-home .navbar .nav > li > a {
    padding:40px 3px 33px 3px;
  }
}
#main-menu .navbar {
  background: none;
  border: 0 none;
  margin: 0;
}
#main-menu .navbar .navbar-collapse {
  padding: 0;
  position: static;
  border:none;
  box-shadow:none;
}
#main-menu .navbar .collapse {
  /* transition: all 10.1s ease 0s; */
}
#main-menu .navbar .collapsing {
  /*   margin-top:76px ;
    transition: all 10.1s ease 0s; */
}
#main-menu .navbar .collapse.in {
  /* transition: all .001s ease 0s; */
}
#main-menu .navbar .nav {
  margin: 0;
  position: static;
}
#main-menu .navbar .nav > li {
  position: relative;
  z-index:5;
}
#main-menu .navbar .nav > li > a {
  padding:38px 3px 5px 3px;
  margin: 0 12px 17px 12px;
  border-bottom: 2px solid rgba(45,78,83,0);
  color:#2a2b2f;
  letter-spacing:1px;
  z-index: 1;
  text-shadow: none;
  transition: padding .4s ease 0s, border-color .6s ease 0s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.header-black #main-menu .navbar .nav > li > a {
  color: #fff;
}
#main-menu .navbar .nav li a {
  font-family: $default-font-4;
  font-size:14px;
}
/* Effect 3: bottom line slides/fades in */
.affix #main-menu .navbar .nav > li > a {
  transition: padding .4s ease 0s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
#main-menu .navbar .nav > li > a .main-menu-title{
  line-height:20px;
}
#main-menu .navbar .nav > li > a {
  /* 	padding:43px 3px 5px 3px;
      margin: 0 12px 17px 12px;
      border-bottom: 2px solid rgba(45,78,83,0);
      color:#2a2b2f;
    letter-spacing:1px; */
  background-color: transparent;
}
.affix.header-1 #main-menu .navbar .nav > li > a {
  margin-bottom: 13px;
  padding: 20px 3px 8px 3px;
  opacity:.7;
}
.header-1 #main-menu .navbar .nav > li.current > a {
  padding:38px 3px 5px 3px;
  margin: 0 12px 17px 12px;
  border-bottom: 2px solid rgba(45,78,83,1);
  color:#2a2b2f;
}
.header-black #main-menu .navbar .nav > li.current > a {
  border-bottom: 2px solid rgba(255,255,255,1);
  color:#fff;
}
.affix.header-1 #main-menu .navbar .nav > li.current > a{
  margin-bottom: 13px;
  padding: 20px 3px 5px 3px;
  border-color:rgba(75,78,83,.5);
  opacity:1;
}
.affix.header-1.header-black #main-menu .navbar .nav > li.current > a{
  border-color:rgba(75,78,83,0);
}


.nav-below-sticky-wrapper.is-sticky {
  height: 60px !important;
  transition: height .3s ease 0s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}


/***** #INDENT MAIN CONTAINER	( responsive in "media query" section)*****/
.page-main-content.indent-header-1.affix-indent {
  padding-top: 60px;
  transition:padding-top .4s ease;
}
.page-main-content.indent-header-1{
  padding-top: 95px;
  transition:padding-top .4s ease;
}
/************************************/
.header.header-not-sticky{
  position:relative !important;
}
.header.header-always-sticky{
  position:fixed !important;
  z-index:9999;
  -webkit-box-shadow: 0 1px 15px rgba(0,0,0, .15);
  -moz-box-shadow: 0 1px 15px rgba(0,0,0, .15);
  box-shadow: 0 1px 15px rgba(0,0,0, .15);
}
/***** #STICKY ICON BUTTON ANIMATION	*****/


/**********************************************************/
.main-menu-icon {
  display:block;
  font-size:18px;
  font-weight:100 !important;
  padding:12px;
  border:2px solid #a3a7ad;
  border-radius: 50%;
  color:#a3a7ad;
  height:46px;
  width:46px;
}
.main-menu-icon.icon_house_alt.main-menu-icon {
  padding-top:10px;
}.main-menu-icon.icon_toolbox_alt.main-menu-icon {
   padding-top:10px;
 }
.main-menu-icon.icon_mail_alt.main-menu-icon {
  padding-bottom:14px;
  padding-top:10px;
}
#main-menu .navbar .nav > li:hover > a {
  color: rgba(42,43,47, .75);
  opacity:1 !important;
}
.affix #main-menu .navbar .nav > li:hover > a {
  color: rgba(42,43,47, 1);
}
.header-black #main-menu .navbar .nav > li:hover > a {
  color: rgba(255,255,255, .75);
}
.affix.header-black #main-menu .navbar .nav > li:hover > a {
  color: rgba(255,255,255, 1);
}
#main-menu .navbar .nav .parent {
  position: relative;
}
#main-menu .sub {
  background: $default-theme-color;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0, .2);
  -moz-box-shadow: 0 4px 5px rgba(0,0,0, .2);
  box-shadow: 0 4px 5px rgba(0,0,0, .2);
  display: none;
  margin:0;
  padding: 10px 10px 10px 24px;
  position: absolute;
  z-index: 905;
}

/*****	#ANIMATION FOR SUB MENU	*****/
#main-menu .parent:hover > .sub {
  display: block ;
  -webkit-animation: fadeIn .4s;
  animation: fadeIn .4s;
}
#main-menu .sub a {
  color: #d3d3d3;
  display: block;
  text-decoration: none;
  min-width: 160px;
  padding:9px;
  padding-left:0;
}
#main-menu .sub a:hover {
  color: #fff;
  padding-left:7px;
  transition: all .2s ease 0s;
}
#main-menu .sub a.current {
  color: #fff;
  transition: all .2s ease 0s;
}
#main-menu .sub .parent:hover > a {
  color: #fff;
  padding-left: 7px;
}
#main-menu .sub .sub {
  left: 100%;
  top: 0;
}
#main-menu .navbar .nav .parent .parent > a:after {
  content: "\e232";
  font-family: linea-icons;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  speak: none;
  font-size: 15px;
  display: block;
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*	#MEGAMENU
============================================================*/
#main-menu .navbar .nav .parent.megamenu {
  position: static;
}
#main-menu .navbar .nav .parent.megamenu > a {
  position: relative;
}
#main-menu .megamenu > .sub {
  padding:22px 0 22px 0;
  box-sizing: border-box;
  left:0;
  right:0;
  width: 100%;
  z-index: 900;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/****************************************************************************/
.header .primary .parent:hover > .sub {
  display: block;
}
#main-menu .megamenu .title {
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  margin-top:20px;
  margin-bottom: 13px;
  font-family: $default-font-4;
  color:#fff;
}
.megamenu .box.col-md-3, .megamenu .box.col-md-2, .megamenu .box.col-md-4{
  padding-left:35px;
  border-right:1px solid #585a5f;
}
.megamenu .box.col-md-3 .icon, .megamenu .box.col-md-2 .icon{
  float:left;
  display: inline-block;
  margin-right: 14px;
  margin-top: 3px;
  font-size:16px;
  line-height: 16px;
}
#main-menu .megamenu > .sub a {
  width: 100%;
}
#main-menu .sub .sub .sub .sub {
  background: none;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
  left: 0;
  padding: 0;
  position: relative;
  -webkit-animation: fadeIn 0;
  animation: fadeIn 0;
}
#main-menu .sub .sub .sub .parent > a {
  background: none !important;
}
.navbar-collapse.right {
  border:none;
}


/* #PRIMARY MENU
================================================== */
.header .primary {
  margin-top: 7px;
}
.header .primary .navbar {
  margin: 0 0 0 80px;
}
.header .nav .open>a, .header .nav .open>a:hover, .header .nav .open>a:focus {
  background:none;
}
.header .primary .navbar .nav {
  float: none;
  margin: 0;
}
.header .primary .navbar .nav > li {
  padding: 0 4px;
  position: relative;
}
.header .primary .navbar .nav > li > a{
  border-width: 1px;
  border-color: transparent;
  color: #1e1e1e;
  padding: 11px 15px;
  text-shadow: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.header .primary .navbar .nav > li:hover > a {
  background: #fff;
  border-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.header .primary .navbar .nav .parent {
  position: relative;
}
.header .primary .navbar .nav > li.parent:hover > a {
  background: #fff;
  border-bottom-color: transparent;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.header .primary .navbar .nav > li.parent:hover > a:after {
  background: #fff;
  bottom: 0;
  content: "";
  display: block;
  height: 10px;
  left: 5px;
  margin: 0 0 -3px 0;
  position: absolute;
  right: 5px;
  z-index: 49;
}
.header .primary .sub {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0 3px 3px 3px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  display: none;
  font-size: 13px;
  line-height: 24px;
  padding: 15px 20px;
  position: absolute;
  z-index: 48;
}
.header .primary .sub li {
  font-size: 13px;
  line-height: 24px;
}
.header .primary .parent:hover > .sub {
  display: block;
  -webkit-animation: fadeIn .4s;
  animation: fadeIn .4s;
}
.header .primary .sub a {
  color: #1e1e1e;
  display: block;
  text-decoration: none;
  width: 175px;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
.header .primary .sub a:hover {
  opacity: .6;
  filter: alpha(opacity=60);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
.header .primary .sub .sub {
  left: 100%;
  top: 0;
}
.header .primary .navbar .nav .parent .parent > a,
.header .primary .navbar .nav .parent:hover .parent > a{
  background-image: url("../images/caret.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.header .primary .navbar .nav .parent.megamenu {
  position: static;
}
.header .primary .navbar .nav .parent.megamenu > a {
  position: relative;
}
.header .primary .navbar .nav > li.parent.megamenu:hover > a:after {
  margin-left: -5px;
  margin-right: -5px;
}
.header .primary .megamenu > .sub {
  border-radius: 3px;
  left: 4px;
  margin: 0;
  padding: 35px 40px 35px 0;
  width: 844px;
}
.header .primary .megamenu > .sub .box {
  float: left;
  padding: 0 0 28px 40px;
  width: 240px;
}
.header .primary .megamenu.four-columns > .sub .box {
  width: 170px;
}
.header .primary .megamenu.five-columns > .sub .box {
  width: 128px;
}
.header .primary .megamenu > .sub .box.first {
  clear: left;
}
.header .primary .megamenu > .sub .promo-block {
  float: right;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}
.header .primary .megamenu > .sub .promo-block:before {
  border-left: 1px solid #e6e6e6;
  bottom: -35px;
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: -35px;
}
.header .primary .megamenu > .sub .promo-block .promo-article {
  margin: 2px 0 11px;
}
.header .primary .megamenu > .sub .promo-block .promo-article img {
  float: left;
  margin: 7px 19px 15px 0;
  max-height: 70px;
  max-width: 70px;
}
.header .primary .megamenu > .sub .promo-block p {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 18px 0;
}
.header .primary .megamenu > .sub .promo-block .big-image {
  margin-bottom: -63px;
}
.header .primary .megamenu .title {
  font-size: 13px;
  line-height: 23px;
  margin: 0 0 3px;
  text-transform: uppercase;
}
.header .primary .megamenu > .sub a {
  width: 100%;
}
.header .primary .sub .sub .sub .sub {
  background: none;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
  left: 0;
  padding: 0;
  position: relative;
  -webkit-animation: fadeIn 0;
  animation: fadeIn 0;
}
.header .primary .sub .sub .sub .parent > a {
  background: none !important;
}
/***********************************************************/

/* #HEADER FIX #NEW
=====================================================*/
.header .search .main-menu-icon {
  transition: margin-top .4s ease, margin-bottom .4s ease, border .9s ease .2s;
}
.affix.header .search .main-menu-icon {
  border-color: rgba(0,0,0, 0);
  opacity:1;
  height:46px;
  width:46px;
  padding:12px;
  margin-bottom: 7px;
  margin-top: 7px;
  transition: margin-bottom .3s ease, margin-top .3s ease, border .3s ease;
}
.header .sb-search-open  .main-menu-icon{
  transition: opacity .5s ease .2s, height .3s ease 0s, margin-bottom 0s ease 0s, margin-top 0s ease 0s, border .5s ease;
}
.header {
  position:fixed;
  left:0;
  transition: background .3s ease, height .4s ease;
  width:100%;
  z-index:29;
}
.affix.header {
  position: fixed;
  height: 60px;
  transition: height .4s ease;
}
.header-big-offset {
  padding-top:136px;
}
.header-wrapper{
  position: relative;
  width:100%;
  transition: height .3s ease 0s, background .3s ease 0s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  z-index:29;
}
.header.no-transparent .header-wrapper{
  background:#fff;
}
.affix .header-wrapper {
  top:0;
  left:0;
  z-index:100;
  background: #fff;
  transition: height .3s ease 0s, background .3s ease 0s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 1px 15px rgba(0,0,0, .15);
  -moz-box-shadow: 0 1px 15px rgba(0,0,0, .15);
  box-shadow: 0 1px 15px rgba(0,0,0, .15);
}
.affix.header-black .header-wrapper {
  background: #303036;
}
#nav-below.header {
  position:relative;
  width:100%;
}
.is-sticky .header {
  -webkit-box-shadow: 0 1px 15px rgba(0,0,0, .15);
  -moz-box-shadow: 0 1px 15px rgba(0,0,0, .15);
  box-shadow: 0 1px 15px rgba(0,0,0, .15);
}
.header .container-m-30 {
  position: relative;
}
.header-no-bg, .header-no-bg .header-wrapper {
  background: none;
}
.affix.header-no-bg, .affix.header-no-bg .header-wrapper {
  background: #fff;
}
.container-m-30 {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  position:relative;
  width:100%;
}

@media (min-width: 1025px) {
  .indent-header {padding-top:93px;}
  .indent-header-top-bar {padding-top:136px;}
}